.header {
  box-shadow: 0 0 10px rgba(29, 29, 27, 0.15);

  .logo-container {
    background-image: url('https://www.eslgaming.com/sites/all/themes/stability/stability_sub/pattern-vs2-long.svg');
    background-repeat: no-repeat;
    background-position: top;
    border-bottom: 1px solid #2FC30E;

    .logo {
      width: 220px;
      padding: 0 15px 0 15px;
    }
  }

  .popular-topics {
    padding: 8px;
    margin: auto;

    span {
      margin: 2px;
    }

    .popular-topics-links {
      display: flex;
      flex-wrap: wrap;
    }

    a {
      text-decoration: none;
      color: #2FC30E;
      padding: 0 8px;
      font-size: 0.85rem;
    }
  }

  .socials {
    display: flex;
    justify-content: flex-end;
    //border: 1px solid black;
    padding-bottom: 10px;
    a {
      color: black;
    }
    > * {
      //border: 1px solid black;
      padding: 0 15px 0 7px;

    }
  }
}

